@import url('https://fonts.googleapis.com/css?family=Pathway+Gothic+One');
@import url('https://fonts.googleapis.com/css?family=Josefin+Sans');

body,img,ul,li,p,div{
    margin: 0px;
    padding: 0px;
    font-family: 'Pathway Gothic One', sans-serif;
  
}

#overlay{
    display: none;
    position: fixed;
     z-index: 1;
    background-color: rgba(255,255,255,0.9);
    

    width: 100%;
    height: 100%;
}
#imgBDiv{
    text-align: center;
    position: relative;
    opacity: 1;
    margin: auto;
}
#overlayImg{
    opacity: 1;
    margin: auto;
}

.wrapper{
  padding: 0;
  max-width: 100%;
  margin: 0;

}
.activeH{
   background-color: #233233;
}
p{
    color: white;
}
a{
    text-decoration: none;
    color: white;
}

li{
    display: inline-block;
    padding-top: 1%;
    padding-bottom: 1%;
    padding-left: 3%;
    padding-right: 3%;
}
.nav{
    font-size:2em;
    color: white;
    font-family: 'Pathway Gothic One', sans-serif;
    text-align: center;
    margin: 0 auto;
    margin-bottom: 0.25%;
    width: 100%;
    background-color: #1a3156; 
}

.homeImg{
    width: 100%;
}
p{
     font-family: 'Josefin Sans', sans-serif;
}

/*.mainBody{
    position: absolute;
    
width: 100%;
margin: auto;
text-align: center;

background-color: #D3D3D3; 
}*/
/*
.meme{

    background-color:lightgray;
    width: 40%;
    float: left;
    margin: auto;
    margin-bottom:4%; 
     margin-left: 2.5%;  
    padding: 3%;

    box-shadow: 0px 5px 5px grey;
}*/




@media screen and (min-width: 300px) {
    
  .wrapper {
    max-width: 100%;
 }
 .mainBody{
    position: absolute;
width: 100%;
margin: auto;
text-align: center;

background-color: #D3D3D3; 
}

.meme{
     background-color:whitesmoke; 
    width: 60%;
    float: none;
    margin-top:1%;
    margin-bottom:4%; 
    margin-left: 2.5%; 
    padding: 3%;

    box-shadow: 0px 5px 5px grey;
}
}


@media screen and (min-width: 1000px) {
  
  .wrapper {
    max-width: 100%;
    }
  .mainBody{
    position: absolute;
width: 100%;
margin: auto;
text-align: center;

background-color: #D3D3D3; 
}

.meme{

    background-color:whitesmoke;
    width: 40%;
    float: left;
    margin-top:1%;
    margin-bottom:4%; 
    margin-left: 2.5%; 
    padding: 3%;

    box-shadow: 0px 5px 5px grey;
}
}